@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {
  --mainColor: #285F9D;
  --secondaryColor: #3d78bb;
  --textColor: #7F7F7F;
  --white: #fff;
  --black: #000;
  --lightGrey: #f7f7f7;
  --medGrey: #ddd;
  --indigo: #292759;
  --mediumMedia: 1152px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2,
h3, h4,
h5, h6 {
  font-weight: 400;
}

main {
  padding: 4rem 8rem;
  min-height: 80vh;
}

a {
  text-decoration: none;
  color: var(--black);
}

ul {
  list-style: none;
}

.active {
  color: var(--mainColor);
}

/* Global styles for sections */

.section {
  margin-bottom: 2rem;
}

.section > h2 {
  font-size: 18px;
  color: var(--mainColor);
  margin-bottom: 20px;
}

.section > p {
  margin-bottom: 20px;
  line-height: 2;
}


/* inputs */

.input {
  background: var(--lightGrey);
  border: 1px solid var(--secondaryColor);
  border-radius: 3px;
  padding: 0.8em 0.5em;
  max-width: 100%;
  width: 100%;
  font-family: inherit;
}

.button {
  color: var(--white);
  background-color: var(--mainColor);
  padding: 0.5em 1em;
  border-radius: 5px;
}

.button:hover {
  background-color: var(--secondaryColor);
}

@media only screen and (max-width: 1152px) {
  main {
    padding: 2rem 4rem;
  }
}