.footer {
  background-color: #292759;
  color: #fff;
  padding: 2em 5em;
  padding-top: 3em;
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  border-top: 1px solid #7f7f7f;
}
.right_footer > img {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 2em;
}

@media only screen and (max-width: 1152px) {
  .footer_wrapper {
    flex-direction: column;
  }
}