
.search {
  max-width: 50%;
  margin: 4rem auto;
  margin-top: 0;
}

.search_title {
  color: #355f99;
  font-weight: 500;
  margin-bottom: 20px;
  display: inline-block;
}

.search_result {
  margin-top: 20px;
}

@media only screen and (max-width: 1152px) {
  .search {
    max-width: 90%;
  }
}